<section id="about" class="container-fluid">
  <div id="mainsection">
    <h1 class="center">Acerca de Nosotros</h1>
    <div class="col-text">

    </div>
    <br>
    <div class="row">
        <div id="contenedorficha" class="col-md-4">
            <div id="ficha" class="panel">
                <div class="panel-heading">
                    <h3 id="fichaheader">Damaris Espaillat</h3>
                    <h4 id="fichaheader">Directora</h4>
                </div>
                <div id="damaris" class="panel-body image-cropper center-block">
                </div>
                <div id="fichatexto" class="panel-footer">
                    <p class="lead text-center">Encargada de coordinar a nivel administrativo y gerencial. Implementa los programas terapéuticos, educativos y los proyectos.</p>
                </div>
            </div>


        </div>
        <div id="contenedorficha" class="col-md-4">
            <div id="ficha" class="panel">
                <div class="panel-heading">
                    <h3 id="fichaheader">Noemi Espinal</h3>
                    <h4 id="fichaheader">Subdirectora de CAIF</h4>
                </div>
                <div id="noemi" class="panel-body image-cropper center-block">

                </div>
                <div id="fichatexto" class="panel-footer">
                    <p class="lead text-center">Da soporte a toda la estructura de CAIF,
en los programas psicoeducativos y contabilidad. Supervisa el departamento de
psicometría y da seguimiento a los pacientes. Dirige el programa de Damisellas
House de (domésticas y nanas).</p>
                </div>
            </div>


        </div>



    </div>
</section>
</div>
