<section id="about" class="container">
    <h2 class="center">Acerca de Nosotros</h2>
    <div class="col-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ornare metus ipsum, id vulputate eros fermentum vel.
         Sed sit amet accumsan quam. Donec efficitur tellus eget rutrum rhoncus. Sed a tellus suscipit, rhoncus tortor eget, vulputate ex. 
         Fusce aliquet neque ac fermentum mattis. Nullam dui quam, iaculis eu varius vel, cursus non ante. Fusce leo enim, egestas in auctor et, consectetur at justo. 
         Donec pretium consequat neque id imperdiet. Sed nisi magna, dapibus non nisi nec, hendrerit molestie orci.
    </div><br>
    <div class="row">
        <div class="col-md-6 col-centered">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>CAIF</h4>
                </div>
                <div class="panel-body">
                    <%= image_tag 'DamarisNoemi.jpg', class: "img-circle center-block" %>
                    <p class="lead text-center">Texto Descriptivo</p>
                </div>
                <div class="panel-footer">
                    
                </div>
            </div>
        </div>

    </div>
</section>
