<section id="contact" class="container">
    <div class="page-header">
        <h2 class="text-center">Contact</h2>
    </div>
    <form class="col-md-5 col-md-offset-4">
        <div class="form-group">
            <!-- Gotta do this with rails -->
            <div class="form-group">
                <input class="form-control" placeholder="Insert your name" type="text">
            </div>
            <div class="form-group">
                <input class="form-control" placeholder="Insert your email" type="text">    
            </div>
            <div class="form-group">
                <input class="form-control" placeholder="Subject" type="text">    
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="10" placeholder="Body"></textarea>    
            </div>
            <div class="form-group">
                <input class="btn btn-success btn-block" type="submit">    
            </div>
            
        </div>
    </form>
    
</section>