<section id="home" class="cl_white text-center">
<div class="jumbotron">
    <div id="mainheader">
    <h1>Centro de Atención Integral y Familiar</h1>
    <p class="lead">Prueba de Concepto.</p>
    <button id="alert" class="btn btn-default">Contacto</button>
    </div>
</div>
</section>
