<section id="home" class="cl_white text-center">
<div class="jumbotron">
    <div id="mainheader">
    <h1>CAIF</h1>
    <p class="lead">Centro de Atención Integral Familiar</p>
    </div>
</div>
</section>
