<div id="home" class="fill">
  <div id="myCarousel" class="carousel slide">
      <!-- Indicators -->
      <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for Slides -->
      <div class="carousel-inner">
          <div class="item active">
              <!-- Set the first background image using inline CSS below. -->
              <div id="imagen1" class="fill"></div>
              <div class="carousel-caption">
                  <div class="on-top">
                    <h1>Misión</h1><br>
                      <div class="slider-text">
                    <p>Brindar una atención integral personalizada a empresas, familias, parejas, adolescentes
y niños/as;por medio de terapias, asesorías, evaluaciones psicológicas
y formación psicoeducativa.</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="item">
              <!-- Set the second background image using inline CSS below. -->
              <div id="imagen2" class="fill"></div>
              <div class="carousel-caption">
                <div class="on-top">
                  <h1>Visión</h1><br>
                  <div class="slider-text">
                  <p>Ser un centro líder en la República Dominicana y el mundo,
en servicios de atención integral a nivel biopsicosocial, educativo y formativo. </p>
                  </div>
                </div>
              </div>
          </div>
          <div class="item">
              <!-- Set the third background image using inline CSS below. -->
              <div id="imagen3" class="fill"></div>
              <div class="carousel-caption">
                <div class="on-top">
                  <h1>Valores</h1><br>
                    <div class="slider-text">
                      <li>Integridad</li>
                      <li>Responsabilidad</li>
                      <li>Prudencia</li>
                      <li>Justicia</li>
                      <li>Fortaleza</li>
                      <li>Confidencialidad</li>
                      <li>Templanza</li>
                    </div>
                </div>
              </div>
          </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="icon-prev"></span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="icon-next"></span>
      </a>

  </div>



</div>
