<section id="work" class="container-fluid">
  <div id="mainsection">
    <div class="page-header">
        <h1 id="serviciosheader">Servicios</h1>
    </div>
<div class="row">
  <div class="col-md-6" id="caifinstitucion">
    <%= image_tag 'CaifLogoLetras.png', id:"logoservicios"%>
    <ul id="servicios">
      <li>Programas educativos como: diplomados, conferencias, talleres, foros y charlas.</li>
      <li>Realizamos investigaciones científicas.</li>
      <li>Evaluaciones psicométricas.</li>
      <li>Terapias psicológicas.</li>
      <li>Psiquiatría.</li>
      <li>Escuela para padres.</li>
      <li>Salas de tareas integrales.</li>
      <li>Talleres de artes manuales</li>
  </ul>
  </div>
  <div class="col-md-6" id="caifinstitucion">
    <%= image_tag 'caifstaff.png', id:"logoservicios"%>
    <ul id="servicios">
      <li>Depuración del personal, a nivel: laboral, judicial y financiero</li>
      <li>Coordinación de la entrevista con el candidato</li>
      <li>Entrevista laboral</li>
      <li>Reclutamiento y selección del personal</li>
      <li>Inducción y capacitación ante la vacante</li>
      <li>Evaluaciones psicométricas</li>
      <li>Evaluación psiquiátrica</li>
      <li>Contrato de acuerdos laborarles y formulario de descargo</li>
      <li>Análisis de laboratorio</li>
  </ul>
  </div>


  </div>

</div>
</section>
