/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap";

$main-color: #40b9bc;
$main-color-light: #c8f4ea;
$main-color-dark: #00adb1;
$main-color-darker: #008e91;
$secondary-color: #e21770;

section{
    width: 100%;
    height: 100vh;
    padding: 50px;

}

#mainsection{
  background-color: white;
}

#logo1 {
  margin: 50px auto;
  position: relative;
  left: -300px;
  height: 50%;
  width: 50%;
}

#logo2 {
position: absolute;
width: 30%;
height: auto;
top: 120px;
right: 50px;
}
#map{
  height: 400px;
}

#locationtext{
  color: $secondary-color;
}

#locationtextdiv{
  border-style: solid;
  border-radius: 25px;
  border-color: $secondary-color;
  left: 20px;
}

#home{

}

.on-top{
  position: absolute;
   top: -450px;
   bottom: 0;
   left: -10%;
   right:0;
   z-index: 99999;
   background-color: rgba(226, 23, 112, 0.5);
   border-radius: 25px;

   p, h1{
     opacity: 1;
     color: white;
   }

   p{
     font-size: 22px;
   }
height: 365px;
width:360px;
}

  .slider-text{
    text-align: left;
    position: absolute;
    left: 50px;
    li{
      font-size: 20px;
    }
}

#imagen1{
 background-image: url('slider1.jpg');

}

#imagen2 {
 background-image: url('slider2.jpg');
}

#imagen3 {
 background-image: url('slider3.jpg');

}

#imagen4 {
 background-image: url('slider4.jpg');
}

@media (max-width: 767px) {
    .container-slider {
        margin-left: -20px;
        margin-right: -10px;
    }
}


.image-cropper {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    background: #eee no-repeat center;
    background-size: cover;
    margin-top: 10px;

}

#damaris {
  background-image: url('Damaris.jpg');
}

#noemi {
  background-image: url('noemi.png');
}

#fichaheader{
  text-align: center;
  color: white;
}

#fichatexto{
  background-color: white;

  p {
    color: $main-color;
  }
}

.panel-footer{
  height: 300px;
  border: none;
}


.panel-heading{
  background-color: $main-color;

}

    #fotocircular {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
  }

  #contenedorficha{

    left: 15%;
  }

#ficha{
        border-style: solid;
    border-width: 1px;
    border-color: $main-color;

}

.col-centered{
    float: none;
    margin: 0 auto;
}


.col-text {
    -webkit-column-count: 3;
}

#contact{
  background-image: url('contacto.jpg');
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
}

textarea {
    resize: none;
}

#socialmedia {

    max-height: 35px;
    max-width: 35px;
    margin-right: 25px;
    margin-top: 7px;
    padding: 1px;

}

#socialmediaref {
  padding: 0px;
  padding-top: 10px;
}

#socialcontainer{
    padding-right: 100px;
}

#caifinstitucion {

}

#serviciosheader{
  color:black;
}

.navbar-default {
background-color: white;
border: none;
height: auto;
}

.navbar-default .navbar-nav > li > a {
  color: $secondary-color;
  font-weight: bold;
}

.navbar-default .navbar-nav > li {
 height: 70px;
}

#menuheader{
  padding-top: 25px;
}


.navbar-default .navbar-nav > li > a > img {
  width: auto;
  height: 50px;
}

.navbar-default .navbar-nav > li > a > img:hover {
  background-color: white;
}

#Menu > #menuheader:hover {
    background-color: $secondary-color;
    a{
    color: white;
      }
}

#logoservicios{
  width: 350px;
  height: 200px;
  display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

#logoservicios2{
  width: 200px;
  height: 200px;
  display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

#servicios{
  li{
    color: black;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
